/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-size-adjust: none;
}

/* Variables here */
:root {
  --aboutme-contact-bgcolor: rgb(227, 227, 231);
  --box-background: #8da8a5;
  --box-shadow-cards: 0 0 100px rgb(102, 122, 108);
  --body-font-color:  #4F4846;
}

/* Element Selectors */
body {
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 130%;
  background-color: #FDF8F5;
  color: var(--body-font-color);
}

/* This class defines the top header
  Tifni Shroll                About Me    Work    Contact Me   Resume
The children of .header-style are h1 and nav*/
.header-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* This makes space between h1 & nav children */
  align-items: center;
  height: 130px;
  width: 100%;
  /* padding: 20px; */
  /* Padding around the h1 & nav children */
  background-color: black;
}

/* Style Tifni Shroll */
header h1 {
  background-color: var(--box-background);
  padding: 9px;
  padding-left: 45px;
}

.sub-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100px;
  justify-content: flex-end;
}

/* Auto width for Creative/Professional text in sub header*/
.sub-header p {
  width: auto;
  font-size: 130%;
  font-weight: 900;
}

.subheading {
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 15px;
  background-color: var(--box-background);
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 15px;
}

/* Teal color on header nav's */
nav ul a {
  color: var(--box-background);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: var(--aboutme-contact-bgcolor);
}

.subtopics {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  /* Tell item to take 100% of viewport*/
  width: 100%;
  padding: 10px;
  margin: 20px;
  font-size: 130%;
}


.subtopics p {
  font-size: 90%;
  padding: 40px;
  /* Tell p to take remaining % of viewport*/
  width: 80%;
  border-style: none none none solid;
  border-width: 10px;
  /* flex: 0 0 300px; */
}

aside {
  flex: 0 0 20.5%;
  /* increased 1% to account for border */
  /* background-color: var(--aboutme-contact-bgcolor); */
  height: 64vh;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0px;
  margin-left: 20px;
  text-align: left;
  border-style: none solid none none;
  border-width: 10px;
}

/* About Me Section */
.subtopics h1 {
  font-size: 40px;
  padding: 20px 20px 10px 20px;
  border-style: none;
  text-align: right;
  /* Tell h1 "About Me" to take a % of left viewport*/
  width: 20%;
  /*flex: 0 1 auto. It sizes the item based on its width/height properties (or its content if not set).*/
  flex: 1, 2, auto;
}

aside h1 {
  font-size: 40px;
  padding: 20px 20px 10px 20px;
  text-align: right;
  border-style: none;
  flex: 1, 2, auto;
}

.work-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3px;
  gap: 10px;
  flex: 0 0 78%;
}

.work-container div header {
  padding: 20px 20px 0px 20px;
  background-color: var(--box-background);
  /* text-align:center; */
  font-size: 140%;
  color: var(--body-font-color)
}

.work-container p {
  padding: 0px 20px 20px 20px;
  background-color: var(--box-background);
  /* text-align:center; */
  font-size: 130%;
  color: var(--body-font-color)
}

/* #food-img {
  width: 100%;
  height: 100%;
  background-image: url("../Assets/images/Koding-Kitch.png");
  background-size: cover;
  background-position: bottom;
}

#surf-img {
  width: 100%;
  height: 100%;
  background-image: url("../Assets/images/surf.avif");
  background-size: cover;
}

#trees-img {
  width: 100%;
  height: 100%;
  background-image: url("../Assets/images/trees.avif");
  background-size: cover;
}

#kitchen-img {
  width: 100%;
  height: 100%;
  background-image: url("../Assets/images/kitchen.avif");
  background-size: cover;
  background-position: bottom;
}

#waves-img {
  background-image: url("../Assets/images/waves.avif");
  background-size: cover;
}

#books-img {
  width: 100%;
  height: 100%;
  background-image: url("../Assets/images/books.avif");
  background-size: cover;
}

#crystals-img {
  width: 100%;
  height: 100%;
  background-image: url("../Assets/images/Crystals.avif");
  background-size: cover;
  background-position: left; 
}*/

.flex-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 20vh;
  max-height: 20vh;
  flex: 1, 1, 47%;
  /* Cards that are half the width of viewport */
  max-width: 47%;
  border-color: var(--box-background);
}

/* Create a shadow around images when cursor hovors */
#surf-img:hover,
#trees-img:hover,
#kitchen-img:hover,
#books-img:hover,
#crystals-img:hover {
  box-shadow: ;
  box-shadow: var(--box-shadow-cards);
}

.flex-items header {
  font-weight: 900;
}

/* Surf Report */
.flex-items:first-child {
  flex-basis: 95%;
  max-width: 100%;
  border-style: solid;
  /* padding: 10px 10px 30px 0px; */
  margin: 0;
  /* margin-left: 30px; */
}

/* CARD that occupies half of the remaining space */
.card {
  /* background-color: rgb(251, 248, 248); */
  border-style: solid;
  margin: 5px;
  /* margin-left: 30px; */
  /* flex: 0 0 50%;   */
  height: 200px;
}

.card header {
  padding: 20px;
  padding: 20px;
  background-color: var(--box-background);
  text-align: left;
  font-size: 140%;
}

footer {
  margin: 0;
  background-color: var(--aboutme-contact-bgcolor);
  padding: 0;
}

footer.subtopics {
  margin: 0;
}

.footer-style {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 75%;
  font-size: 90%;
  margin-left: 10px;
  border-style: none none none solid;
  border-width: 10px;
  align-items: center;
}

@media screen and (max-width: 1334px) {
  aside {
    display: none;
    margin-left: 0px;
    order: 2;
  }

  .work-container {
    flex-basis: 100%;
  }

  .flex-items {
    flex-basis: 100%;
    /* Cards take up the viewport */
    max-width: 100%;
  }
}

/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 1000px) {
  .subtopics {
    flex-direction: column;
  }

  .subheading {
    display: none;
  }

  .header-style {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }

  .header-style nav ul {
    /* flex-direction: column; */
    flex-direction: row;

  }

  .footer-style {
    flex-direction: column;
  }

  .footer-style nav {
    flex-direction: column;
  }

  main {
    flex-direction: column;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  .subtopics {
    flex-direction: column;
  }

  .subheading {
    display: none;
  }

  .header-style {
    flex-direction: column;
  }

  .header-style nav ul {
    flex-direction: column;
  }

  .footer-style ul {
    flex-direction: column;
  }

  .footer-style nav ul {
    flex-direction: column;
  }

  .subtopics h1 {
    font-size: 30px;
  }

  .card {
    flex-basis: 100%;
    max-width: 100%;
  }

  main {
    flex-direction: column;
  }

  aside {
    display: none;
    margin-left: 0px;
    order: 2;
  }
}
